

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
  font-family: $font-dosis;
  color: $color_steel_gray_approx;
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

//original selectors
//.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10
%extend_2 {
  background-attachment: fixed;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0);
  //Instead of the line below you could use @include background-origin($origin)
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

//original selectors
//.bg-black-alfa-5::before, .bg-black-alfa-10::before, .bg-black-alfa-15::before, .bg-black-alfa-20::before, .bg-black-alfa-25::before, .bg-black-alfa-30::before, .bg-black-alfa-35::before, .bg-black-alfa-40::before, .bg-black-alfa-45::before, .bg-black-alfa-50::before, .bg-black-alfa-55::before, .bg-black-alfa-60::before, .bg-black-alfa-65::before, .bg-black-alfa-70::before, .bg-black-alfa-75::before, .bg-black-alfa-80::before, .bg-black-alfa-85::before, .bg-black-alfa-90::before, .bg-black-alfa-95::before
%extend_3 {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  background: $black_5 none repeat scroll 0 0;
}

//original selectors
//.post-title, .post-title a
%extend_4 {
  color: $color_woodsmoke_approx;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 15px;
}

//original selectors
//.pagination >li >a, .pagination >li >span
%extend_5 {
  border: 2px solid $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  color: $color_tapa_approx;
  display: block;
  float: none;
  padding: 8px 15px;
}

//original selectors
//.pagination >.active >a, .pagination >.active >span
%extend_6 {
  background: $color_java_approx none repeat scroll 0 0;
  border-color: $color_java_approx;
  color: $white;
}

//original selectors
//.pagination >li >a:hover, .pagination >li >a:focus, .pagination >li >span:hover, .pagination >li >span:focus
%extend_7 {
  background: $color_tundora_approx none repeat scroll 0 0;
  border-color: $color_tundora_approx;
  color: $white;
}

//original selectors
//.pagination >.active >a, .pagination >.active >a:focus, .pagination >.active >a:hover, .pagination >.active >span, .pagination >.active >span:focus, .pagination >.active >span:hover
%extend_8 {
  background-color: $color_tundora_approx;
  border-color: $color_tundora_approx;
  color: $white;
  cursor: default;
  z-index: 3;
}

