$weight-extrathin: 100;
$weight-thin: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;


$full_font_path: '../fonts/';


@mixin font-face($name, $font, $weight: $weight-normal, $style: normal) {

  font-family: "#{$name}";
  src: url('#{$full_font_path}#{$font}.eot') format('eot');

  src: //url('#{$full_font_path}#{$font}.woff2') format('woff2'),
  url('#{$full_font_path}#{$font}.woff') format('woff'),
  url('#{$full_font_path}#{$font}.svg##{$font}') format('svg'),
  url('#{$full_font_path}#{$font}.ttf') format('ttf'),
  url('#{$full_font_path}#{$font}.eot?#iefix') format('embedded-opentype');

  font-weight: #{$weight};
  font-style: #{$style};

}

$et-line: 'ET-Line';
@font-face { @include font-face($et-line, 'et-line'); }

$awesome: 'FontAwesome';
@font-face { @include font-face($awesome, 'fontawesome-webfont'); }


$glyphicons: 'glyphicons';
@font-face { @include font-face($glyphicons, 'glyphicons-halflings-regular'); }


$ionicons: 'Ionicons';
@font-face { @include font-face($ionicons, 'ionicons'); }





$font-et: "#{$et-line}", sans-serif;
$font-awesome: "#{$awesome}", sans-serif;
$font-glyphicons: "#{$glyphicons}", sans-serif;
$font-ionicons: "#{$ionicons}";


//fonts
$font-opensans: Open Sans, sans-serif;
$font-dosis: Dosis, sans-serif;
