


@mixin _CenterX {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin _CenterY {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin _Center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin _CenterNO {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}


@mixin _CB {

    &,
    &:before,
    &:after {
      clear: both;
      display: block;
    }

    &:before,
    &:after {
      content: '';
    }

}




@mixin _Flex() {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}



@mixin square($color) {

  position: absolute;
  width: 7px;
  height: 7px;
  display: block;
  border: 1px solid #{$color};



}

@mixin triangleDown($color, $size) {

  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size $size 0 $size;
  border-color: $color transparent transparent transparent;
  line-height: 0;
  _border-color: $color #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

}

@mixin _Grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  //filter: url("../images/grayscale.svg#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

@mixin _GrayscaleNo {
  filter: none;
  -webkit-filter: grayscale(0);
}


@mixin _Animation($animation, $duration: $transitionDuration, $delay: 0s) {

  animation-name: $animation;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: ease;


}

@mixin _AbsoluteFull($z: 1) {
  position: absolute;
  display: block;
  z-index: $z;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}