*,
:before,
:after {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}


*,
*:after,
*:before {
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: $weight-normal 14px/1  $font-opensans;
  font-style: normal;
}

p {
  font: $weight-normal 14px/24px  $font-opensans;
  font-style: normal;
  color: $color_fuscous_gray_approx;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

hr,
.hr {
  display: block;
  height: 1px;
  border: none;
  position: relative;
}
.hr {
  //background-color: $color-line;
}

h1,h2,h3,h4,h5,h6,
[class^="title-"] {

  a {
    color: inherit;
  }
}

h1,
.title-1 {
  @extend %extend_1;
  font-size: 40px;
  font-weight: $weight-semibold;

}

h2,
.title-2 {
  @extend %extend_1;
  font-size: 35px;

}

h3,
.title-3 {
  @extend %extend_1;
  font-size: 28px;

}

h4,
.title-4 {
  @extend %extend_1;
  font-size: 22px;

}

h5,
.title-5 {
  @extend %extend_1;
  font-size: 18px;
}

h6,
.title-6 {
  @extend %extend_1;
  font-size: 16px;
}



a {

  transition: all $transitionDuration ease-out 0s;
  color: $color_tundora_approx;
  outline: medium none;
  text-underline-position: under;


  &:focus {
    outline: none;
    color: $color_mountain_mist_approx;
    text-decoration: none;
  }
  &:hover {
    color: $color_mountain_mist_approx;
    text-decoration: none;
  }
}

b,
strong,
.b {
  font-weight: $weight-bold;
}

em,
i,
.i {
  font-style: italic;
}


img {

  transition: all 0.3s ease-out 0s;

  &,
  a & {
    text-decoration: none;
    border: 0;
    max-width: 100%;
    height: auto;
  }

}
iframe {
  max-width: 100%;
}



