//colors
$color_mountain_mist_approx: #999;
$color_tundora_approx: #444;
$color_steel_gray_approx: #232332;
$color_fuscous_gray_approx: #555;
$color_athens_gray_approx: #eceff8;
$color_sundance_approx: #d6b161;
$white: #fff;
$color_alto_approx: #ddd;
$black_5: rgba(0, 0, 0, 0.05);
$black_40: rgba(0, 0, 0, 0.4);
$white_80: rgba(255, 255, 255, 0.8);
$white_10: rgba(255, 255, 255, 0.1);
$color_wild_sand_approx: #f5f5f5;
$color_log_cabin_approx: #222;
$color_storm_dust_approx: #666666;
$black_17_6: rgba(0, 0, 0, 0.176);
$color_mine_shaft_50_approx: rgba(51, 51, 51, 0.5);
$white_70: rgba(255, 255, 255, 0.7);
$color_black_haze_approx: #f6f6f6;
$black_70: rgba(0, 0, 0, 0.7);
$black_20: rgba(0, 0, 0, 0.2);
$white_90: rgba(255, 255, 255, 0.9);
$black: #000;
$color_suva_gray_approx: #888;
$white_30: rgba(255, 255, 255, 0.3);
$color_iron_approx: #d7d7d7;
$color_tapa_approx: #777;
$color_mercury_approx: #e6e6e6;
$color_masala_approx: #3e3e3e;
$color_shark_approx: #252525;
$color_alabaster_approx: #f9f9f9;
$color_woodsmoke_approx: #111;
$color_gallery_approx: #eee;
$color_desert_storm_approx: #f8f8f8;
$color_java_approx: #27cbc0;
$concrete: #f2f2f2;
$black_10: rgba(0, 0, 0, .1);
$color_oslo_gray_approx: #858899;
$color_mine_shaft_approx: #333333;
$color_charlotte_70_approx: rgba(194, 244, 246, 0.7);


//urls


$url_6: url("img/bg/bg-1.jpg");
$url_7: url("img/bg/bg-2.jpg");
$url_8: url("img/bg/bg-3.jpg");
$url_9: url("img/bg/12.jpg");
$url_10: url("img/bg/15.jpg");
$url_11: url("img/bg/bg-video.png");
$url_12: url("img/slider/slider-1.jpg");
$url_13: url("img/slider/slider-2.jpg");
$url_14: url("img/slider/sss.jpg");
$url_15: url("img/slider/slider-5.jpg");
$url_16: url("img/slider/slider-6.jpg");
$url_17: url("img/slider/slider-7.jpg");
$url_18: url("img/slider/bg-video.png");

$transitionDuration: 0.25s;

/*
$color-red: #D03F43;
$color-red2: #e0484e; //close to red1 !!

$color-black: #27282D;

$color-grey: #F3F3F4;
$color-grey2: #abaaac;
$color-grey3: #646567;


$color-line: #BEBEC0;

$bg-black: #191B1E;
$bg-grey: #F0EFF0;
$bg-grey2: #E4E4E4;
$bg-red: #E65059;


$media-wide: "all and (max-width:1439px)";
$media-desktop: "all and (max-width:1279px)";
$media-tablet: "all and (max-width: 1023px)";
$media-mobile: "all and (max-width: 767px)";
$media-mobile480: "all and (max-width: 639px)";
$media-mobile320: "all and (max-width: 479px)";






$template-t1: basis-front-page; //homepage
$template-cms: page-template-default;
$template-blog: blog;
//$template-t3: template-t3-general-cms;


$z-header: 100;
$z-content: 10;
*/