.cb {
  @include _CB;
}

.tC {
  text-align: center;
}

.dzariusz {
  display: inline-block;
  text-indent: -999em;
  position: relative;

  &:before,
  &:after {
    display: inline-block;
    position: absolute;
    text-indent: 0;
    white-space: nowrap;
  }
  &:before {
    content: 'D  ariusz';
    top: 0;
    left: 0;

  }
  &:after {
    content: 'Z';
    font-size: 163%;
    @include _CenterY;
    left: 0.2em;
    font-weight: $weight-light;
  }
}