

.basic-footer {

  .footer-logo .dzariusz {

    width: 110px;

    &:after {
      font-weight: $weight-normal;
    }
  }

  .dzariusz-com {
    strong {
      font-size: 115%;
      vertical-align: bottom;
      font-weight: $weight-semibold;
    }
  }


  .copyright {

    p {
      color: #555;
    }
    &.mt-20 a {
      color: $black;
    }
  }

}