//colors
$black: #000;
$color_tundora_approx: #444;
$color_black_pearl_approx: #0c1923;
$white: #fff;
$color_tuatara_approx: #383838;
$white_50: rgba(255,255,255,0.5);
$seashell: #f1f1f1;
$white_25: rgba(255,255,255,0.25);
$color_shark_approx: #252525;
$white_10: rgba(255,255,255,0.1);
$white_40: rgba(255,255,255,0.4);
$white_20: rgba(255,255,255,0.2);
$black_90: rgba(0,0,0,0.9);

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

.mean-container {
.mean-bar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float: left;
  min-height: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 999999;
//Instead of the line below you could use @include box-sizing($bs)
box-sizing: content-box;
* {
//Instead of the line below you could use @include box-sizing($bs)
box-sizing: content-box;
}
}
.mean-nav {
  background: $color_black_pearl_approx none repeat scroll 0 0;
  float: left;
  margin-top: 0;
  width: 100%;
ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
li {
  position: relative;
  float: left;
  width: 100%;
a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: $white;
  border-top: 1px solid $color_tuatara_approx;
  border-top: 1px solid $white_50;
  text-decoration: none;
  text-transform: uppercase;
&:hover {
   background: $color_shark_approx;
   background: $white_10;
 }
&.mean-expand {
   margin-top: 1px;
   width: 26px;
   height: 32px;
   padding: 8px 10px !important;
   text-align: center;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 2;
   font-weight: 700;
   background: $white_10;
   border: none !important;
   border-left: 1px solid $white_40 !important;
   border-bottom: 1px solid $white_20 !important;
&:hover {
   background: $black_90;
 }
}
}
li {
a {
  width: 80%;
  padding: 1em 10%;
  border-top: 1px solid $seashell;
  border-top: 1px solid $white_25;
  opacity: 0.75;
  filter: alpha(opacity=75);
//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
text-shadow: none !important;
  visibility: visible;
}
li {
a {
  width: 70%;
  padding: 1em 15%;
}
li {
a {
  width: 60%;
  padding: 1em 20%;
}
li a {
  width: 50%;
  padding: 1em 25%;
}
}
}
}
&.mean-last a {
   border-bottom: none;
   margin-bottom: 0;
 }
}
}
}
.mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
a.meanmenu-reveal {
  border: 1px solid $black;
  color: $color_tundora_approx;
  cursor: pointer;
  display: block;
  font-family: $font_0, $font_1, $font_2;
  font-size: 1px;
  font-weight: 700;
  height: 21px;
  line-height: 22px;
  margin-top: -52px;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  width: 22px;
span {
  background: $color_tundora_approx none repeat scroll 0 0;
  display: block;
  height: 3px;
  margin-top: 3px;
}
}
}
.mean-nav {
.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
> ul {
  height: 300px;
  overflow-y: scroll;
}
}
.mean-remove {
  display: none !important;
}
a.meanmenu-reveal {
  display: none;
}
