//colors
$color_tower_gray_approx: #aebcb9;
$color_woodsmoke_approx: #0d0d0d;
$color_bondi_blue_approx: #0096a7;


html {
    font-size: 62.5%;

}

.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
}
@media only screen and(min-width:768px) {
    .cd-title {
        line-height: 250px;
    }
    .cd-intro {
        margin: 5em auto;
    }
    .cd-headline {
        font-weight: 300;
    }
}
@media only screen and(min-width:1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    h1 {
        font-size: 3rem;
    }
}
.cd-intro {
    margin: 6em auto;
}
}
.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 4em auto;
}
.cd-headline {
    line-height: 1.2;
&.rotate-1 {
.cd-words-wrapper {
//Instead of the line below you could use @include perspective($p)
perspective: 300px;
}
b {
    opacity: 0;
//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
transform-origin: 50% 100%;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: rotateX(180deg);
&.is-visible {
     opacity: 1;
 //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
 transform: rotateX(0deg);
     animation: cd-rotate-1-in 1.2s;
 }
&.is-hidden {
 //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
 transform: rotateX(180deg);
     animation: cd-rotate-1-out 1.2s;
 }
}
}
&.type {
.cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
&.waiting::after {
     animation: cd-pulse 1s infinite;
 }
&.selected {
     background-color: $color_tower_gray_approx;
b {
    color: $color_woodsmoke_approx;
}
}
&.selected::after {
     visibility: hidden;
 }
}
.cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: $color_tower_gray_approx;
}
b {
    visibility: hidden;
&.is-visible {
     visibility: visible;
 }
}
i {
    position: absolute;
    visibility: hidden;
&.in {
     position: relative;
     visibility: visible;
 }
}
}
&.rotate-2 {
.cd-words-wrapper {
//Instead of the line below you could use @include perspective($p)
perspective: 300px;
}
i {
    display: inline-block;
//Instead of the line below you could use @include backface-visibility($visibility)
backface-visibility: hidden;
//Instead of the line below you could use @include transform-style($style)
transform-style: preserve-3d;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
&.in {
     animation: cd-rotate-2-in 0.4s forwards;
 }
&.out {
     animation: cd-rotate-2-out 0.4s forwards;
 }
}
em {
    display: inline-block;
//Instead of the line below you could use @include backface-visibility($visibility)
backface-visibility: hidden;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: translateZ(20px);
}
b {
    opacity: 0;
}
}
&.loading-bar {
span {
    display: inline-block;
    padding: .2em 0;
}
.cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
&.is-loading::after {
     width: 100%;
 //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
 transition: width 3s;
 }
}
.cd-words-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: $color_bondi_blue_approx;
    z-index: 2;
//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
transition: width 0.3s -0.1s;
}
b {
    top: .2em;
    opacity: 0;
//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
transition: opacity 0.3s;
&.is-visible {
     opacity: 1;
     top: 0;
 }
}
}
&.slide {
span {
    display: inline-block;
    padding: .2em 0;
}
.cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
b {
    opacity: 0;
    top: .2em;
&.is-visible {
     top: 0;
     opacity: 1;
     animation: slide-in 0.6s;
 }
&.is-hidden {
     animation: slide-out 0.6s;
 }
}
}
&.clip {
span {
    display: inline-block;
}
.cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.cd-words-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: $color_tower_gray_approx;
}
b {
    opacity: 0;
&.is-visible {
     opacity: 1;
 }
}
}
&.zoom {
.cd-words-wrapper {
//Instead of the line below you could use @include perspective($p)
perspective: 300px;
}
b {
    opacity: 0;
&.is-visible {
     opacity: 1;
     animation: zoom-in 0.8s;
 }
&.is-hidden {
     animation: zoom-out 0.8s;
 }
}
}
&.rotate-3 {
.cd-words-wrapper {
//Instead of the line below you could use @include perspective($p)
perspective: 300px;
}
b {
    opacity: 0;
}
i {
    display: inline-block;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: rotateY(180deg);
//Instead of the line below you could use @include backface-visibility($visibility)
backface-visibility: hidden;
&.in {
     animation: cd-rotate-3-in 0.6s forwards;
 }
&.out {
     animation: cd-rotate-3-out 0.6s forwards;
 }
}
}
&.scale {
b {
    opacity: 0;
}
i {
    display: inline-block;
    opacity: 0;
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: scale(0);
&.in {
     animation: scale-up 0.6s forwards;
 }
&.out {
     animation: scale-down 0.6s forwards;
 }
}
}
&.push b {
     opacity: 0;
&.is-visible {
     opacity: 1;
     animation: push-in 0.6s;
 }
&.is-hidden {
     animation: push-out 0.6s;
 }
}
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
b {
    display: inline-block;
    font-weight: 500;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
&.is-visible {
     position: relative;
 }
}
}
@-webkit-keyframes cd-rotate-1-in {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes cd-rotate-1-in {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-rotate-1-in {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(360deg);
        opacity: 1;
    }
}
@-webkit-keyframes cd-rotate-1-out {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes cd-rotate-1-out {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes cd-rotate-1-out {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateX(180deg);
        opacity: 0;
    }
}
@-webkit-keyframes cd-pulse {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes cd-pulse {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(0deg);
    }
}
@-webkit-keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-20px) rotateX(-90deg);
    }
}
@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes slide-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-100%);
    }
    60% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(20%);
    }
    100% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0);
    }
}
@-webkit-keyframes slide-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes slide-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slide-out {
    0% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0);
    }
    60% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(120%);
    }
    100% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(100%);
    }
}
@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes zoom-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoom-in {
    0% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(100px);
    }
    100% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(0);
    }
}
@-webkit-keyframes zoom-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes zoom-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes zoom-out {
    0% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(0);
    }
    100% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateZ(-100px);
    }
}
@-webkit-keyframes cd-rotate-3-in {
    0% {
    }
    100% {
    }
}
@-moz-keyframes cd-rotate-3-in {
    0% {
    }
    100% {
    }
}
@keyframes cd-rotate-3-in {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(180deg);
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(0deg);
    }
}
@-webkit-keyframes cd-rotate-3-out {
    0% {
    }
    100% {
    }
}
@-moz-keyframes cd-rotate-3-out {
    0% {
    }
    100% {
    }
}
@keyframes cd-rotate-3-out {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(0);
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(-180deg);
    }
}
@-webkit-keyframes scale-up {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes scale-up {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scale-up {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
        opacity: 0;
    }
    60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1.2);
        opacity: 1;
    }
    100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes scale-down {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}
@-moz-keyframes scale-down {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}
@keyframes scale-down {
    0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
        opacity: 1;
    }
    60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes push-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes push-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(-100%);
    }
    60% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(10%);
    }
    100% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(0);
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes push-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(0);
    }
    60% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(110%);
    }
    100% {
        opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(100%);
    }
}
.no-js .cd-words-wrapper b {
    opacity: 0;
&.is-visible {
     opacity: 1;
 }
}
.is-visible .cd-headline {
&.rotate-2 i {
     opacity: 1;
 }
&.rotate-3 i {
 //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
 transform: rotateY(0deg);
 }
&.scale i {
     opacity: 1;
 }
}
.no-csstransitions .cd-headline {
&.rotate-2 {
i {
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: rotateX(0deg);
    opacity: 0;
em {
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: scale(1);
}
}
.is-visible i {
    opacity: 1;
}
}
&.rotate-3 {
i {
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: rotateY(0deg);
    opacity: 0;
}
.is-visible i {
    opacity: 1;
}
}
&.scale {
i {
//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
transform: scale(1);
    opacity: 0;
}
.is-visible i {
    opacity: 1;
}
}
}
