

a {

  &#scrollUp {
    background: $color_tundora_approx none repeat scroll 0 0;
    bottom: 50px;
    color: $white;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 50px;
    text-align: center;
    width: 40px;
  }
}
.button {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease-out 0s;
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
.footer-menu {
  li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
    a:hover {
      color: $color_mountain_mist_approx;
      text-decoration: none;
    }
    &:first-child:before {
      display: none;
    }
  }
  a {
    color: $color_tundora_approx;
    font-family: $font-dosis;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  li::before {
    background: $color_storm_dust_approx none repeat scroll 0 0;
    bottom: 8px;
    content: "";
    height: 4px;
    left: -5px;
    margin-right: 6px;
    position: absolute;
    width: 4px;
  }
}
button {
  color: $color_tundora_approx;
  outline: medium none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
h1 {

  &.breadcrumb-2 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
  }
}


ul {
  margin: 0;
  padding: 0;
  &.tags li {
    display: inline-block;
    a {
      background: $color_desert_storm_approx none repeat scroll 0 0;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 2px;
      color: $color_storm_dust_approx;
      display: inline-block;
      font-size: 13px;
      margin: 0 0 6px;
      padding: 8px 12px;
      text-transform: capitalize;
      &:hover {
        background: $color_tundora_approx;
        color: $white;
      }
    }
  }
}
li {
  list-style: none;
}

hr {
  padding: 0;
  border-bottom: 1px solid $color_athens_gray_approx;
  border-top: 0;
}
label {
  color: $color_tundora_approx;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: $color_sundance_approx;
  color: $white;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
}
::-moz-selection {
  background: $color_fuscous_gray_approx;
  color: $white;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
}
::selection {
  background: $color_fuscous_gray_approx;
  color: $white;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
}
*::-moz-placeholder {
  color: $color_fuscous_gray_approx;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: $color_fuscous_gray_approx;
  font-size: 14px;
  opacity: 1;
}
.btn {
  background: $color_tundora_approx none repeat scroll 0 0;
  border: 1px solid transparent;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-dosis;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 7px 20px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background: transparent;
    border-color: $color_tundora_approx;
  }
  &.btn-large {
    padding: 10px 25px;
  }
  &.white-btn:hover {
    border-color: $color_alto_approx;
    color: $color_alto_approx;
  }
}
.btn-lg {
  font-weight: 700;
  padding: 13px 31px;
}
.bg-1 {
  background: $url_6;
  @extend %extend_2;
}
.bg-2 {
  background: $url_7;
  @extend %extend_2;
}
.bg-3 {
  background: $url_8;
  @extend %extend_2;
}
.bg-4 {
  background: $url_9;
  @extend %extend_2;
}
.bg-5 {
  background: $url_10;
  @extend %extend_2;
}
.bg-6 {
  background: $url_11;
  @extend %extend_2;
}
.color-white {
  color: $white !important;
}
.white-bg {
  background: $white;
}
.bg-7 {
  @extend %extend_2;
}
.bg-8 {
  @extend %extend_2;
}
.bg-9 {
  @extend %extend_2;
}
.bg-10 {
  @extend %extend_2;
}
.bg-black-alfa-5::before {
  @extend %extend_3;
}
.bg-black-alfa-10::before {
  @extend %extend_3;
}
.bg-black-alfa-15::before {
  @extend %extend_3;
}
.bg-black-alfa-20::before {
  @extend %extend_3;
}
.bg-black-alfa-25::before {
  @extend %extend_3;
}
.bg-black-alfa-30::before {
  @extend %extend_3;
}
.bg-black-alfa-35::before {
  @extend %extend_3;
}
.bg-black-alfa-40::before {
  @extend %extend_3;
  background: $black_40 none repeat scroll 0 0;
}
.bg-black-alfa-45::before {
  @extend %extend_3;
}
.bg-black-alfa-50::before {
  @extend %extend_3;
}
.bg-black-alfa-55::before {
  @extend %extend_3;
}
.bg-black-alfa-60::before {
  @extend %extend_3;
}
.bg-black-alfa-65::before {
  @extend %extend_3;
}
.bg-black-alfa-70::before {
  @extend %extend_3;
}
.bg-black-alfa-75::before {
  @extend %extend_3;
}
.bg-black-alfa-80::before {
  @extend %extend_3;
}
.bg-black-alfa-85::before {
  @extend %extend_3;
}
.bg-black-alfa-90::before {
  @extend %extend_3;
}
.bg-black-alfa-95::before {
  @extend %extend_3;
}
.owl-carousel {
  .owl-nav div {
    background: $white_80 none repeat scroll 0 0;
    height: 40px;
    left: 20px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%);
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 40px;
    &.owl-next {
      left: auto;
      right: 20px;
    }
  }
  &:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
  }
  .owl-item .basic-clients img {
    width: inherit;
  }
}
.header-fixed {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1030;
}
.header-transparent {
  background: transparent none repeat scroll 0 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 -1px 0 $white_10 inset;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: height 0.3s ease-out 0s, background 0.3s ease-out 0s, box-shadow 0s ease-out 0s;
  .basic-menu {
    li a {
      color: $white;
    }
    > li > a::before {
      background: $color_black_haze_approx none repeat scroll 0 0;
    }
  }
  .logo h4 {
    color: $white;
  }
  &.sticky .basic-menu > li {
    > a {
      color: $color_steel_gray_approx;
    }
    > a::before {
      background: $color_storm_dust_approx none repeat scroll 0 0;
    }
  }
}
.sticky {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background: $white none repeat scroll 0 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 -1px 0 $color_wild_sand_approx inset;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: height 0.3s ease-out 0s, background 0.3s ease-out 0s, box-shadow 0.3s ease-out 0s;
  z-index: 1030;
  .logo {
    padding: 19px 0;
    h4 {
      color: $color_log_cabin_approx;
    }
  }
  .basic-menu {
    > li {
      > a {
        padding: 23px 0;
      }
      > a::before {
        bottom: 17px;
      }
    }
    > li::after {
      top: 25px;
    }
  }
  .hamburger {
    margin-top: 17px;
  }
}
.breadcrumb-2-area {
  background-position: 50% 0;
  height: 70vh;
  overflow: hidden;
  padding: 0;
}
.hero-caption {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: table;
  height: 100%;
  width: 100%;
}
.hero-text {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.logo {
  padding: 26px 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
  h4 {
    font-weight: 600;
    margin: 0;
  }
}
.basic-area {
  position: relative;
}
.basic-menu {
  float: right;
  li {
    float: left;
    margin-left: 30px;
    position: relative;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease 0s;
    a {
      color: $color_steel_gray_approx;
      display: inline-block;
      position: relative;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &:hover {
      > a {
        color: $color_mountain_mist_approx;
        &:before {
          opacity: 1;
          width: 15px;
        }
      }
      > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
    ul {
      background: $color_log_cabin_approx none repeat scroll 0 0;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 6px 12px $black_17_6;
      float: none;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: left;
      top: 110%;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s ease 0s;
      visibility: hidden;
      width: 200px;
      z-index: 11;
      li {
        border-bottom: 1px solid $color_mine_shaft_50_approx;
        display: block;
        float: none;
        margin: 0;
        &:last-child {
          border-bottom: 0 none;
          margin: 0;
        }
        a {
          color: $white_70;
          display: block;
          font-size: 11px;
          padding: 10px 15px;
          i {
            float: right;
          }
          span {
            float: right;
          }
        }
        ul {
          left: 100%;
          opacity: 0;
          position: absolute;
          top: 10%;
          visibility: hidden;
          z-index: 999;
        }
        &:hover {
          > ul {
            opacity: 1;
            top: 0;
            visibility: visible;
          }
          > a {
            background: $color_mine_shaft_50_approx none repeat scroll 0 0;
            color: $white;
          }
        }
      }
    }
  }
  > li {
    > a::before {
      background: $color_storm_dust_approx none repeat scroll 0 0;
      bottom: 23px;
      content: "";
      height: 1px;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s ease 0s;
      width: 0;
    }
    > a {
      padding: 30px 0;
    }
    &:last-child:after {
      display: none;
    }
  }
  .menu-p-right ul li ul {
    right: 100%;
  }
}
.headroom {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: transform 0.25s ease-in-out 0s;
  will-change: transform;
}
.headroom--pinned {
  background: $white none repeat scroll 0 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 -1px 0 $color_wild_sand_approx inset;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(0px);
}
.headroom--unpinned {
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-100%);
}
.basic-space {
  height: 78px;
}
.hamburger {
  float: right;
  margin-left: 20px;
  margin-top: 24px;
  padding: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
}
.hamburger-inner {
  height: 2px;
  width: 30px;
}
.hamburger-inner::after {
  height: 2px;
  width: 30px;
}
.hamburger-inner::before {
  height: 2px;
  width: 30px;
  top: -8px;
}
.hamburger-menu {
  float: right;
  margin-right: -30px;
  opacity: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
  visibility: hidden;
}
.basic-slider {
  position: relative;
  .container {
    height: 100%;
  }
}
.height-100-vh {
  height: 100vh;
}
.slide-1 {
  background: rgba(0, 0, 0, 0) $url_12 repeat scroll center top / cover;
}
.slide-2 {
  background: rgba(0, 0, 0, 0) $url_13 repeat scroll center center / cover;
}
.slide-3 {
  background: rgba(0, 0, 0, 0) $url_14 repeat scroll right top / cover;
}
.slide-4 {
  background: rgba(0, 0, 0, 0) $url_15 repeat scroll right top / cover;
}
.slide-5 {
  background: rgba(0, 0, 0, 0) $url_16 repeat scroll right top / cover;
}
.slide-6 {
  background: rgba(0, 0, 0, 0) $url_17 repeat scroll right top / cover;
}
.slide-7 {
  background: rgba(0, 0, 0, 0) $url_18 repeat scroll right top / cover;
}
.slider-content {
  h2 {
    font-weight: 500;
    letter-spacing: 5px;
  }
  &.text-white {
    h2 {
      color: $color_alto_approx;
    }
    p {
      color: $color_alto_approx;
    }
    &.black-bg-opacity::before {
      border: 1px solid $color_suva_gray_approx;
      bottom: 15px;
      content: "";
      left: 15px;
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
  &.black-bg-opacity {
    background: $black_70 none repeat scroll 0 0;
    display: inline-block;
    padding: 70px 50px;
    text-align: center;
    outline: 1px solid $black_20;
    outline-offset: -15px;
    position: relative;
    > h2 {
      font-size: 30px;
      line-height: 40px;
      position: relative;
      color: $black;
    }
  }
  &.white-bg-opacity {
    background: $white_90 none repeat scroll 0 0;
    display: inline-block;
    outline: 1px solid $black_20;
    outline-offset: -15px;
    padding: 70px 50px;
    position: relative;
    text-align: center;
    > h4 {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }
  }
}
.dot {
  background: $color_tundora_approx none repeat scroll 0 0;
  display: inline-block;
  height: 5px;
  width: 5px;
}
.slider-white {
  border-bottom: 1px solid $color_wild_sand_approx;
  border-top: 1px solid $color_wild_sand_approx;
  padding: 140px 0;
  .slider-content h3 {
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 50px;
    margin: 0;
  }
}
.single-slider {
  background: rgba(0, 0, 0, 0) none repeat scroll center center / cover;
  padding: 200px 0;
}
.border-t-b {
  border-top: 1px solid $color_wild_sand_approx;
  border-bottom: 1px solid $color_wild_sand_approx;
}
.slider-screen {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 0;
  position: relative;
  .slider-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%);
    z-index: 99;
  }
}
.bg-white-opacity::before {
  background: $white_30 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.filter-menu {
  button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: $color_storm_dust_approx;
    font-family: $font-dosis;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 2px;
    padding: 6px 15px;
    position: relative;
    text-transform: uppercase;
    &:last-child:before {
      display: none;
    }
    &.active:after {
      opacity: 1;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  button::before {
    background: $color_iron_approx none repeat scroll 0 0;
    content: "";
    height: 15px;
    position: absolute;
    right: -2px;
    top: 10px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(45deg);
    width: 1px;
  }
  button::after {
    background: $color_tapa_approx none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease 0s;
    width: 4px;
  }
}
.row-portfolio {
  margin: 0 -10px;
  .portfolio-item {
    padding: 0 10px;
  }
  &.m-0 {
    margin: 0;
  }
}
.portfolio-wrapper {
  position: relative;
  &:hover {
    .portfolio-thumb::before {
      opacity: .8;
    }
    .view-icon {
      opacity: 1;
      visibility: visible;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(1);
    }
    .portfolio-caption {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
  }
}
.portfolio-item {
  width: 33.33%;
  float: left;
  margin-bottom: 20px;
}
.portfolio-thumb {
  position: relative;
  img {
    width: 100%;
  }
}
.portfolio-thumb::before {
  background: $white none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
  width: 100%;
}
.view-icon {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .3s;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: scale(1.3);
  margin-top: -20px;
  > a {
    background: $color_log_cabin_approx none repeat scroll 0 0;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    color: $white;
    display: inline-block;
    height: 40px;
    line-height: 41px;
    width: 40px;
    &:hover {
      background: $color_storm_dust_approx;
    }
  }
}
.portfolio-caption {
  padding: 15px;
  > h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 9px;
    position: relative;
  }
}
.caption-border {
  border: 1px solid $color_black_haze_approx;
}
.call-to-action {
  > h3 {
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  > p {
    margin: 0;
  }
  a {
    margin-top: 12px;
  }
}
.portfolio-style-3 {
  .portfolio-caption {
    bottom: 20px;
    top: inherit;
  }
  .portfolio-wrapper:hover .portfolio-caption {
    bottom: 0;
    top: inherit;
  }
}
.portfolio-style-4 {
  .portfolio-thumb::before {
    background: $black none repeat scroll 0 0;
  }
  .portfolio-caption {
    bottom: 50%;
    top: inherit;
    > h4 {
      color: $white;
    }
  }
  .portfolio-wrapper:hover {
    .portfolio-thumb::before {
      opacity: 0.7;
    }
    .portfolio-caption {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translateY(50%);
      bottom: 50%;
    }
  }
  .work-tag > a {
    color: $white;
  }
}
.width-8 {
  width: 66.6667%;
}
.basic-separator {
  border-top: 1px solid $color_alto_approx;
}
.service-box {
  padding: 49px 40px 32px;
  &:hover .service-icon span {
    background: $color_fuscous_gray_approx;
    color: $white;
  }
}
.area-title {
  margin: 0 auto 60px;
  width: 60%;
  h2 {
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
  }
  h2::after {
    background: $color_tundora_approx none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    font-size: 20px;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
  }
  p {
    margin: 0;
  }
}
.service-content {
  h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
}
.testimonial-box {
  margin: auto;
  max-width: 700px;
  blockquote {
    background: $white none repeat scroll 0 0;
    border: medium none;
    font-size: 17px;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 50px;
    position: relative;
    &:after {
      border-color: $white transparent transparent;
      //Instead of the line below you could use @include border-image($value)
      border-image: none;
      border-style: solid;
      border-width: 8px;
      bottom: -16px;
      content: "";
      display: block;
      height: 0;
      left: 20px;
      position: absolute;
      right: 0;
      width: 0;
    }
  }
}
.testimonial-content {
  margin-top: 20px;
  position: relative;
}
.testimonial-name {
  color: $white;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.testimonial-pos {
  color: $white;
  display: block;
  font-size: 14px;
  margin-top: 5px;
  > a {
    color: $white;
  }
}

.bg-soft {
  background: $color_alabaster_approx none repeat scroll 0 0;
}
.footer-info {
}
.post-thumbnail {
  margin: 0 0 25px;
  > img {
    width: 100%;
  }
}
.post {
  margin: 0 0 60px;
  &.format-quote .post-content {
    background: $color_tundora_approx none repeat scroll 0 0;
    padding: 30px 25px;
  }
}
.post-title {
  @extend %extend_4;
  a {
    @extend %extend_4;
    &:hover {
      color: $color_mountain_mist_approx;
    }
  }
}
.widget {
  margin: 0 0 40px;
  form {
    position: relative;
    input {
    }
    button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 0 none;
      color: $color_storm_dust_approx;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
    }
  }
  .recent-posts > li {
    border-top: 1px solid $color_gallery_approx;
    overflow: hidden;
    padding: 10px 0;
    &:first-child {
      border: 0 none;
      padding-top: 0;
    }
  }
}
.form-control {
  border: 2px solid $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  color: $color_mountain_mist_approx;
  font-size: 14px;
  height: 39px;
  &:focus {
    border-color: $color_tundora_approx;
  }
}
.widget-title {
  font-weight: 600;
  position: relative;
}
.widget-title::before {
  border-bottom: 2px solid $color_gallery_approx;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}
.widget-title::after {
  border-bottom: 2px solid $color_storm_dust_approx;
  content: "";
  display: block;
  margin: 20px auto 25px 0;
  position: relative;
  width: 35px;
  z-index: 1;
}
.icons-list {
  > li {
    border-top: 1px solid $color_gallery_approx;
    padding: 10px 0;
    &:first-child {
      border: 0 none;
      padding-top: 0;
    }
  }
  a {
    color: $color_mountain_mist_approx;
    &:hover {
      color: $color_tundora_approx;
    }
  }
}
.widget-posts-image {
  float: left;
  width: 44px;
  img {
    max-width: 100%;
  }
}
.widget-posts-body {
  margin-left: 58px;
}
.widget-posts-title {
  font-size: 12px;
  font-weight: 600;
  margin: 2px 0 3px;
}
.widget-posts-meta {
  font-size: 12px;
  opacity: 0.7;
}
.post-content {
  blockquote {
    color: $white;
    font-size: 20px;
    font-style: normal;
    padding: 30px 25px;
    border: 0;
    i {
      display: block;
      font-size: 24px;
      margin: 0 0 20px;
    }
  }
  footer {
    color: $white;
  }
}
.comments {
  margin-bottom: 70px;
}
.comment-form {
  margin-bottom: 70px;
}
.comment {
  position: relative;
}
.comment-content {
  position: relative;
  background: $color_wild_sand_approx none repeat scroll 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  margin: 0 0 35px 90px;
  padding: 30px;

  h5 {
    font-size: 16px;
    font-weight: 600;
  }
}
.comment-avatar {
  float: left;
  margin: 5px 0 0;
  max-width: 70px;
  position: relative;
  z-index: 1;
  img {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}
.comment-avatar::after {
  background: $color_wild_sand_approx none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 70px;
  position: absolute;
  top: 34px;
  width: 20px;
  z-index: -1;
}
.comment-tools {
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 1;
  a {
    color: $color_storm_dust_approx;
    margin: 0 0 0 15px;
  }
}
.comment-reply {
  margin-left: 90px;
}
.pagination {
  > li {
    display: inline-block;
    margin-right: 2px;
    &:first-child {
      > a {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
      }
      > span {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
      }
    }
    > a {
      @extend %extend_5;
      &:hover {
        @extend %extend_7;
      }
      &:focus {
        @extend %extend_7;
      }
    }
    > span {
      @extend %extend_5;
      &:hover {
        @extend %extend_7;
      }
      &:focus {
        @extend %extend_7;
      }
    }
  }
  > .active {
    > a {
      @extend %extend_6;
      @extend %extend_8;
      &:focus {
        @extend %extend_8;
      }
      &:hover {
        @extend %extend_8;
      }
    }
    > span {
      @extend %extend_6;
      @extend %extend_8;
      &:focus {
        @extend %extend_8;
      }
      &:hover {
        @extend %extend_8;
      }
    }
  }
}
.pricing-table {
  background: $white;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 1px 1px $color_gallery_approx;
  position: relative;
  text-align: center;
  margin: 10px 0 0;
  &.best-value {
    z-index: 1;
    margin: 0;
    .pricing-title {
      padding: 30px 0;
    }
    .pricing-action {
      padding: 30px 0;
    }
  }
}
.pricing-title {
  padding: 25px 0;
  h6 {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.pricing-action {
  padding: 25px 0;
}
.pricing-price {
  border-top: 1px solid $color_wild_sand_approx;
  border-bottom: 1px solid $color_wild_sand_approx;
  padding: 20px 0;
  .price-unit {
    text-transform: uppercase;
    font-size: 54px;
    color: $color_log_cabin_approx;
  }
}
.process-item {
  margin-top: 30px;
  img {
    max-width: 100%;
    height: auto;
  }
  &.highlight {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 8px 31px 0 $black_10;
  }
  &.process-item-alt {
    .process-item-icon {
      padding: 30px 30px 50px;
    }
    .process-item-number {
      top: -23px;
      width: 46px;
      height: 46px;
      font-size: 16px;
      line-height: 35px;
    }
    .process-item-title {
      font-size: 14px;
    }
    .process-item-content {
      padding: 20px;
    }
  }
}
.process-item-icon {
  font-size: 50px;
  line-height: 60px;
  padding: 60px 30px 80px;
  text-align: center;
}
.process-item-content {
  border-top: 1px solid $concrete;
  position: relative;
  padding: 30px;
}
.process-item-number {
  background-color: $color_tundora_approx;
  border: 5px solid $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 40px;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  left: 50%;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: -30px;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateX(-50%);
  width: 60px;
}
.process-item-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 15px 0;
  text-transform: uppercase;
}
.team-item {
  display: block;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.team-item-image {
  display: block;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
  &:hover::after {
    background-color: $white_90;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  &:hover .team-item-detail {
    opacity: 1;
  }
}
.team-item-image::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .27s cubic-bezier(0, 0, .58, 1);
}
.team-item-detail {
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  width: 100%;
  z-index: 2;
}
.team-item-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
}
.team-item-name {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.team-item-role {
  display: block;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 1px;
  color: $color_oslo_gray_approx;
}
.basic-breadcrumb-area {
}
.breadcrumb {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  margin-bottom: 0;
}
#map {
  height: 420px;
  width: 100%;
}
.input-lg {
  font-size: 14px;
  height: 47px;
}
.about-text {
  > h5 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 25px;
  }
  > p {
    line-height: 26px;
    margin-bottom: 25px;
  }
}
.counter-box {
  background: $color_gallery_approx none repeat scroll 0 0;
  float: left;
  padding: 80px 30px;
  text-align: center;
  width: 25%;
  &:nth-child(2n + 1) {
    background: $color_black_haze_approx none repeat scroll 0 0;
  }
}
.counter-text {
  h3 {
    color: $color_tundora_approx;
    font-size: 34px;
    font-weight: 300;
    margin: 15px 0;
  }
  > h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 0;
  }
}
.progress-title {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.progress {
  background-color: $color_wild_sand_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  height: 2px;
  margin-bottom: 20px;
  overflow: visible;
}
.progress-bar {
  background-color: $color_tundora_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  color: $color_mine_shaft_approx;
  position: relative;
}
.video-area {
  position: relative;
  &:before {
    background: $black none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.play-btn {
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;
  background-color: transparent;
  border: 2px solid $black;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0 0 $color_charlotte_70_approx;
  display: inline-block;
  font-size: 18px;
  height: 75px;
  line-height: 72px;
  margin: 0 20px;
  padding: 0 0 0 5px;
  position: relative;
  text-align: center;
  width: 75px;
  border-color: $white;
  color: $white;
}
@-webkit-keyframes pulse {
  to {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 45px rgba(194, 244, 246, 0);
  }
}
@keyframes pulse {
  to {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 45px rgba(194, 244, 246, 0);
  }
}
.page-loader {
  background: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
}
.loader {
  background: $color_storm_dust_approx;
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 40px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  text-indent: -9999em;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  animation-fill-mode: both;
  animation: ball-scale 1s 0s ease-in-out infinite;
}
@-webkit-keyframes ball-scale {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
  }
  100% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
  }
}
@keyframes ball-scale {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
  }
  100% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
  }
}
.portfolio-cat a:hover {
  color: $color_mountain_mist_approx;
  text-decoration: none;
}
.member-img img {
  width: 100%;
}
.menu-area .menu-p-right ul {
  left: auto;
  right: 0;
}
.hamburger--collapse .hamburger-inner::after {
  top: -16px;
}
nav.nav-menu-show {
  margin-right: 0;
  opacity: 1;
  visibility: visible;
}
.work-tag > a {
  color: $color_fuscous_gray_approx;
  font-size: 13px;
  letter-spacing: 1px;
}
.portfolio-style-2 .portfolio-caption {
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 10px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease 0s;
  visibility: hidden;
}
.portfolio-grid-2 .portfolio-item {
  width: 50%;
}
.portfolio-grid-4 .portfolio-item {
  width: 25%;
}
.no-space .portfolio-item {
  margin-bottom: 0;
}
#related-active .portfolio-item {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 0;
}
.portfolio-full-img img {
  width: 100%;
}
.project-details li {
  padding: 0 0 10px;
  font-family: $font-dosis;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.service-icon span {
  background-color: $color_mercury_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  color: $color_masala_approx;
  height: 46px;
  line-height: 46px;
  text-align: center;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.4s ease 0s;
  width: 46px;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 17px;
}
.footer-logo h3 {
  font-weight: 600;
  margin: 0;
}
.social-icon a {
  background: $color_shark_approx none repeat scroll 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 34px;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  &:hover {
    background: $color_mountain_mist_approx;
  }
}
.socile-2 a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  color: $color_tundora_approx;
  display: inline-block;
  font-size: 16px;
  height: inherit;
  line-height: inherit;
  margin: 0 5px;
  text-align: center;
  width: inherit;
  &:hover {
    color: $color_mountain_mist_approx;
  }
}
.format-quote .post-content p {
  color: $white;
  font-size: 18px;
  line-height: 34px;
}
blockquote.single-blockquote {
  background: $color_tundora_approx;
  p {
    color: $white;
  }
}
.price-unit > span {
  vertical-align: top;
  letter-spacing: 2px;
  line-height: 3.5;
  font-size: 22px;
}
.pricing-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    border-bottom: 1px solid $color_wild_sand_approx;
    padding: 8px 0;
    &:nth-child(odd) {
      background: $color_desert_storm_approx;
    }
  }
}
.team-social-icon a {
  background: $color_shark_approx none repeat scroll 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 34px;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  &:hover {
    background: $color_mountain_mist_approx;
  }
}
.basic-breadcrumb > h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 6px;
}
.contact-person > h4 {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.signature > img {
  margin-left: -12px;
}
.counter-icon span {
  font-size: 30px;
}
.video-icon-view.text-center {
  margin: 60px 0;
  text-align: center;
}