/**
This styles will be apply to each editor output on FE and also for editor in BE
 */

h1, h2, h3, h4, h5 {

}

h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.lead {
  font-size: 21px;
}